doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title FRIB Traveler :: about
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
    link(rel='stylesheet', href='#{prefix}/font-awesome-4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='http://www.frib.msu.edu/', target='_blank') FRIB
          .nav-collapse.collapse
            ul.nav
              li
                a(href='https://controls.frib.msu.edu/', target='_blank') controls
              li.active
                a(href='#{prefix}/') Traveler
              li
                a(href='https://controls.frib.msu.edu/controlshelp/', target='_blank') Trouble report
              li
                a(href='#{prefix}/logout') Logout
    header.jumbotron.subhead
      .container
        //- .hero-unit
        h1 FRIB Traveler
        h2 A Web application to create, manage, and share forms and travelers
        h4 A traveler contains a sequence of actions defined by a user in a form. An action requires a person to verify the action is performed and/or collect data as defined in the form. The traveler application records who collects what data at what time before the traveler is completed.

    //- .container-fluid
    .container
      .row
        .span3.bs-docs-sidebar
          ul.nav.nav-list.bs-docs-sidenav.affix(data-offset-top='282', data-spy='affix', style="top: 40px;")
            li
              a(href='#log') Login and logout
            li
              a(href='#layout') Interface layout
            li
              a(href='#table') Data table
            li
              a(href='#compose') Compose a form
            li
              a(href='#validation') Validation rules
            li
              a(href='#figure') Figure from local file
            li
              a(href='#share-form') Share a form
            li
              a(href='#create') Create a traveler
            li
              a(href='#configure') Configure a traveler
            li
              a(href='#share-traveler') Share a traveler
            li
              a(href='#work') Work on a traveler
            li
              a(href='#notes') Notes in a traveler
            li
              a(href='#clone-traveler') Clone a traveler
            li
              a(href='#archive') Archive a traveler
            li
              a(href='#bug') Bugs and suggestions
        .span9
          section#log
            .page-header
              h2 Login and logout
            p A user can log into the the application by her/his FRIB windows username and password.
            embed(src="#{prefix}/images/login.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#layout
            .page-header
              h2 Interface layout
            p The application user interface is composed of top navigation bar, top buttons, and tabs. Each tab contains its own buttons and a data table. The top buttons link to the device list page, user profile page, and also the user manual page.
            embed(src="#{prefix}/images/layout_1.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#table
            .page-header
              h2 Data table
            p The drop down input on the left top of the table controls how many entries are displayed in the current page. The default number is 10.
            p The left bottom of the table shows the current displayed entries of the total entries.
            p The right bottom shows the pagination of the view.
            p  The Search input on the top right of a table can be used to filter all the searchable columns in a table. Only the matched rows will be displayed when the user is typing. No matching records found will be displayed if no match found.
            p Most columns in a table have a text input at the bottom that can be used to filter the corresponding column. The column filter inputs and the top search input can be combined together.
            p Most columns in a data is sortable. A column is sorted when a user clicks on the header of the column. A small blue triangle shows the current sorting direction.
            p A user can use the buttons on the top left to copy the entries to the clipboard, or print, or export it to spreadsheet or pdf file formats. Note that only the filtered results will be copied, printed, or exported. This feature can be used to generate reports.
            embed(src="#{prefix}/images/table.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#compose
            .page-header
              h2 Compose a form
            p The What-You-See-Is-What-You-Get form builder supports basic input types include checkbox, text, number, paragraph (textarea) and file upload. It also supports other HTML5 input types like date, date time, time, email, phone number and URL. Note that not all browsers natively support these types. In addition, the builder provides two advanced types: rich instruction and section. The section type will result a legend header for section titles, and a side navigation panel will be generated for forms with more than one section. The rich instruction can be used for instruction content with special characters, formats, pictures and links. When a form is saved, the application will assign the form a unique id. A user can save an existing form as a new form with different name, and starts to work on it. This can be used for form version control.
            embed(src="#{prefix}/images/compose.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
            br
            br
            br
            embed(src="#{prefix}/images/rename.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#validation
            .page-header
              h2 Validation rules
            p The What-You-See-Is-What-You-Get form builder also supports basic validation rules like required and min/max for a number input. This is a new feature released in v2.2.0. Basically, to make an input required, check the "required" checkbox in the input's specification. The min/max rule works in the same way. A user can test the validation rules of a form in its preview before creating a traveler based on it. The validation messages can be shown or refreshed by clicking on the "Show validation" button. The validation works similarly in a traveler page.
            embed(src="#{prefix}/images/validation.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#figure
            .page-header
              h2 Figure from local image
            p The figure input type allows a user to insert an image (jpg, jpeg, peg, or gif) in a form from local file system. The image's display size, alternate text, and caption can be specified. If the width is empty, the image will be displayed as its original size.
            embed(src="#{prefix}/images/figure.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#share-form
            .page-header
              h2 Share a form
            p A form's owner can share it with other users. A shared form will appear in other user's "Shared form" tab. A user with write permission can revise the shared form, and create a clone of her/his own based on it. A user with read permission can only view the form. The form owner can add/remove users in the share list and modify the users' permissions.
            embed(src="#{prefix}/images/shareform.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#create
            .page-header
              h2 Create a traveler
            p A user can create a new traveler from a owned form. The traveler will appear in the "My travelers" and "All travelers" tabs.
            embed(src="#{prefix}/images/create.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#configure
            .page-header
              h2 Configure a traveler
            p A traveler owner can specify a traveler's name, description, deadline, and devices on the config page. A traveler's status can also be modified on the config page. When a traveler is created, its status is "initialized". When starting to work, its status turns to "active". The traveler can collect data when it is active. The owner can freeze a traveler in order to suspend the traveler, and resume the work before the traveler is completed. A frozen traveler cannot collect data.
            embed(src="#{prefix}/images/config.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#share-traveler
            .page-header
              h2 Share a traveler
            p To share a traveler is similar to share a form. A user with write permission can update the data in the traveler, while a user with read permission can only view the traveler with collected data. Any user can view the traveler with a link or in the "All travelers" tab.
            embed(src="#{prefix}/images/sharetraveler.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#work
            .page-header
              h2 Work on a traveler
            p The traveler owner and other users with write permission can update the data in a traveler. All data input history are kept and shown on the traveler page. The progress can be seen in the traveler data table. A user can request to complete a traveler. The traveler owner can approve the completion, or asks for more work.
            embed(src="#{prefix}/images/work.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#notes
            .page-header
              h2 Notes in a traveler
            p A use can add notes to any input (number, text, checkbox, file) in a traveler. The notes can be hidden or shown on the traveler page. Notes can be a tool to log or a means to communication between different parties.
            embed(src="#{prefix}/images/notes.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#clone-traveler
            .page-header
              h2 Clone a traveler
            p An active or complete traveler can be cloned by its owner or a user having write permission. When a traveler is cloned, the new traveler will have the same form, title/description, and shared user list as the source. The device list will be empty. The cloned traveler is active by default.
            embed(src="#{prefix}/images/clone.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#archive
            .page-header
              h2 Archive a traveler
            p When a traveler is not relevent any longer, the owner can choose to archive it in order to clean the traveler list and present accident usage. An archived travler will be only visible to its owner. An archived traveler can also be de-archived.
            embed(src="#{prefix}/images/archive.swf",width=1024,height=788,quality='low',play=false,loop=false,wmode='transparent',type="application/x-shockwave-flash",pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash")
          section#bug
            .page-header
              h2 Bugs and suggestions
            h4 If you find something not working well or you want a new feature, please contact
              = ' '
              a(href='mailto:liud@frib.msu.edu?Subject=traveler%20issues',target='_top') Dong Liu
              | . Thank you.


    script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
    script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
