extends layout

block head
  meta(charset='urf-8')
  title #{orgName} - binder - #{binder._id} - configuration
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
  .container
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    h3 Title:
      = ' '
      span#title.editable #{binder.title}
      button.btn-primary.editable Edit
    h4 Description:
      = ' '
      span#description.editable #{binder.description}
      button.btn-primary.editable Edit
    p Created on
      = ' '
      span.time #{binder.createdOn}
    if (locals.binder.updatedOn != undefined)
      p Updated by #{binder.updatedBy} on
        = ' '
        span.time #{binder.updatedOn}
    h4 Status:
      = ' '
      case binder.status
        when 0
          | new
        when 1
          | active
        when 2
          | completed
    case binder.status
      when 0
        .btn-group
          button.btn.btn-primary#active(data-toggle='tooltip', title='change the status') Activate
      when 1
        .btn-group
          button.btn.btn-primary#complete(data-toggle='tooltip', title='change the status') Complete
      when 2
        .btn-group
          button.btn.btn-primary#more(data-toggle='tooltip', title='change the status') More work
    h4 Tags
    ul#tags
      each tag in binder.tags
        li
          span.tag #{tag}
          = ' '
          button.btn.btn-small.btn-warning.remove-tag
            i.fa.fa-trash-o.fa-lg
    br
    .btn-group
      button.btn.btn-primary#add-tag
        i.fa.fa-tag.fa-lg
        | &nbsp;Add tag
    hr
    h3 Work list
    .btn-toolbar
      .btn-group
        button.btn.btn-primary#save
          i.fa.fa-save.fa-lg
          | &nbsp;Save changes
      .btn-group
        a.btn.btn-info#view(href='./', target='#{viewConfig.linkTarget}')
          i.fa.fa-eye.fa-lg
          | &nbsp;View binder
    table#work-table.table.table-bordered.table-hover

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/jquery/jquery.jeditable.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/dependencies/livestamp.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/util.js')
  script(type='text/javascript', src='#{prefix}/javascripts/global.js')
  script(type='text/javascript', src='#{prefix}/javascripts/binder-config.js')
