extends layout

block head
  meta(charset='urf-8')
  title #{orgName} - binder - #{binder.title}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
  .container(style="margin-top: 10px")
    h3 #{binder.title}
      != ' '
      .btn-group
        button.btn.btn-info(data-toggle='collapse', data-target='#details') Details
      .btn-group
        button.btn.btn-info#sort
          i.fa.fa-sort-numeric-asc.fa-large
          | &nbsp;Default sorting
      .btn-group
        button.btn.btn-info.select-all(data-toggle='tooltip', title='select all the rows in the current view')
          i.fa.fa-list.fa-lg
          | &nbsp;Select all
      .btn-group
        button.btn.btn-info.deselect-all(data-toggle='tooltip', title='deselect all the rows')
          i.fa.fa-list-alt.fa-lg
          | &nbsp;Select none
      .btn-group
        button.btn.btn-primary#report
          i.fa.fa-table.fa-large
          | &nbsp;Generate report
    h4 #{binder.description}
    #details.collapse.out
      h4 Owner: #{binder.owner || binder.createdBy}
      h4 Status:
        = ' '
        case binder.status
          when 0
            | new
          when 1
            | active
          when 2
            | completed
      h4 Tags
      ul#tags
        each tag in binder.tags
          li
            span.tag #{tag}
      h4 created on&nbsp;
        span.time #{binder.createdOn}
      h4 updated on&nbsp;
        span.time #{binder.updatedOn}
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body.modal-body-visible
      .modal-footer
    form#report-form.hidden(action='#{prefix}/travelers/report/', method='post')
    if (viewConfig.showBinderValue)
      #value-progress
    #traveler-progress
    #input-progress

    table#work-table.table.table-bordered.table-hover

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/binder-viewer.js')
