extends layout

block head
  meta(charset='urf-8')
  title FRIB Traveler :: traveler :: #{_id} :: config
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  .container
    #message
    h3 Title:
      = ' '
      if (typeof(title) == 'undefined')
        span#title.editable No title
      else
        span#title.editable #{title}
    h4 Description:
      = ' '
      if (typeof(description) == 'undefined')
        span#description.editable No description
      else
        span#description.editable #{description}
    p Created on #{createdOn}
    if (typeof(updatedBy) != 'undefined')
      p Updated by #{updatedBy} on #{updatedOn}
    h4 Status:
      = ' '
      case status
        when 0
          | initialized
        when 1
          | active
        when 1.5
          | submitted for completion
        when 2
          | completed
        when 3
          | frozen
    h4 Devices
    ul#devices
      each device in devices
        li
          | #{device}
          button.btn.btn-small.btn-warning.removeDevice
            i.fa.fa-trash-o.fa-lg
    br
    case status
      when 0
        .btn-group
          button.btn.btn-primary#add Add devices
        .btn-group
          button.btn.btn-primary#work Start to work
      when 1
        .btn-group
          button.btn.btn-warning#freeze Freeze
      when 1.5
        .btn-group
          button.btn.btn-primary#approve Approve completion
        .btn-group
          button.btn.btn-warning#more More work
      when 2
        //- .btn-group
        //-   button.btn.btn-primary#resume Resume
      when 3
        .btn-group
          button.btn.btn-primary#resume Resume
    .btn-group
        a.btn.btn-info(href='/devices', target='_blank') Browse devices

block js
  script(type='text/javascript', src='/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/dependencies/typeahead.js')
  script(type='text/javascript', src='/jquery/jquery.jeditable.js')
  script(type='text/javascript', src='/javascripts/config.js')
