extends layout

block head
  meta(charset='urf-8')
  title FRIB traveler - devices
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/datatables/media/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
  .container(style="margin-top: 10px")
    #message
    h3 FRIB physical devices
    table#device-table.table.table-bordered.table-hover

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery.js')
  script(type='text/javascript', src='#{prefix}/datatables/media/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/dist/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/media/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/util.js')
  script(type='text/javascript', src='#{prefix}/javascripts/devices.js')
