extends layout

block head
  title FRIB Traveler - documentation
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/doc.css')

block content
  body(data-spy='scroll', data-target='#myScrollspy')
  //- header
  .container
    .jumbotron
      include:marked ./docs/hero.md

  //- .container-fluid
  .container
    .row#myScrollspy
      .col-md-9
        section#basics
          include ./docs/basics.jade
        section#travelers
          include ./docs/travelers.jade
        section#forms
          include ./docs/forms.jade
        section#binders
          include ./docs/binders.jade
        section#api
          include ./docs/api.jade
        section#faq
          include ./docs/faq.jade
        section#contact
          include:marked ./docs/contact.md

      nav.col-md-3
        ul#affixlist.nav.nav-pills.nav-stacked(data-spy='affix')
          li.active
            a(href='#basics') Basics
          li
            a(href='#travelers') Travelers
          li
            a(href='#forms') Forms
          li
            a(href='#binders') Binders
          li
            a(href='#api') API
          li
            a(href='#faq') FAQ
          li
            a(href='#contact') Contact


block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/dist/js/bootstrap.js')
