extends layout

block head
  meta(charset='urf-8')
  if (typeof id == 'undefined')
    title #{orgName} - new form
  else
    title #{orgName} - forms - #{title}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/jquery/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
    var id = '!{id}';
    var formStatus = !{JSON.stringify(locals.status)} || 0;
    var formType = !{JSON.stringify(locals.formType)} || 'normal';
  .container
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    h3#formtitle #{title}
    p Type: 
      | &nbsp;#{formType}
    p Status:
      | &nbsp;#{statusText}
    p Version:&nbsp;
      span#version #{_v}
    .well-large
      form.form-horizontal#output
        != html
  .button-footer.container
    if (status === 0)
      .btn-group.dropup
        button.btn.dropdown-toggle(data-toggle='dropdown')#input-items Basic inputs
          span.caret
        ul.dropdown-menu
          li#add-checkbox
            a Checkbox
          li#add-radio
            a Radio
          li#add-text
            a Text
          li#add-figure
            a Figure
          li#add-par
            a Paragraph
          li#add-number
            a Number
          li#add-file
            a Upload file
          li#add-other
            a other types
      .btn-group.dropup
        button.btn.dropdown-toggle(data-toggle='dropdown')#struct-items Advanced control
          span.caret
        ul.dropdown-menu
          //- li#add-grid
          //-   a Grid
          li#add-section
            a Section
          li#add-rich
            a Rich instruction
      .btn-group
        button.btn#adjust Adjust location
      .btn-group
        button.btn.btn-primary#save Save
    .btn-group
      a.btn.btn-info#preview(data-toggle='tooltip', title='the form needs be saved first', href='preview', target='#{viewConfig.linkTarget}') Preview
    .btn-group
      button.btn.btn-primary#numbering(data-toggle='tooltip', title='generate section numbers') Generate numbering
    .btn-group
      button.btn.btn-primary#saveas(data-toggle='tooltip', title='create a copy of current form') Save as
    if (status === 0)
      .btn-group
        button.btn.btn-warning#archive(data-toggle='tooltip', title='archive the form') Archive
    if (status === 0)
     .btn-group
       button.btn.btn-primary#submit(data-toggle='tooltip', title='Submit for Release') Submit
    if (locals.session && locals.session.userid && locals.session.roles && (locals.session.roles.indexOf('admin') !== -1 || locals.session.roles.indexOf('manager') !== -1))
      if (status === 0.5)
        .btn-group
          button.btn.btn-primary#release(data-toggle='tooltip', title='release the form for usage') Release
        .btn-group
          button.btn.btn-warning#reject(data-toggle='tooltip', title='reject the submitted form for release') Reject
      if (status === 1)
        .btn-group
          button.btn.btn-primary#obsolete(data-toggle='tooltip', title='Obsolete the form') Obsolete

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/jquery/jquery-ui-1.10.2.custom.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/rivets/rivets.min.js')
  script(type='text/javascript', src='#{prefix}/tinymce/tinymce.min.js')
  script(type='text/javascript', src='#{prefix}/tinymce/jquery.tinymce.min.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/dependencies/livestamp.js')
  script(type='text/javascript', src='#{prefix}/builder/input.js')
  script(type='text/javascript', src='#{prefix}/builder/spec.js')
  script(type='text/javascript', src='#{prefix}/javascripts/uid.js')
  script(type='text/javascript', src='#{prefix}/javascripts/util.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/form-builder.js')
