extends layout

block head
  meta(charset='urf-8')
  if (typeof id == 'undefined')
    title FRIB - new form
  else
    title FRIB - forms - #{title}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/jquery/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
    var id = '!{id}';
    var formStatus = !{JSON.stringify(locals.status)} || 0;
  .container
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    h3#formtitle #{title}
    .well-large
      form.form-horizontal#output
        != html
    if (locals.status === 0)
      .btn-group.dropdown
        button.btn.dropdown-toggle(data-toggle='dropdown')#input-items Basic inputs
          span.caret
        ul.dropdown-menu
          li#add-checkbox
            a Checkbox
          li#add-text
            a Text
          li#add-figure
            a Figure
          li#add-par
            a Paragraph
          li#add-number
            a Number
          li#add-file
            a Upload file
          li#add-other
            a other types
      .btn-group.dropdown
        button.btn.dropdown-toggle(data-toggle='dropdown')#struct-items Advanced control
          span.caret
        ul.dropdown-menu
          //- li#add-grid
          //-   a Grid
          li#add-section
            a Section
          li#add-rich
            a Rich instruction
      .btn-group
        button.btn#adjust Adjust location
      .btn-group
        button.btn.btn-primary#save Save
    .btn-group
      a.btn.btn-info#preview(data-toggle='tooltip', title='the form needs be saved first', href='preview', target='_blank') Preview
    .btn-group
      button.btn.btn-primary#saveas(data-toggle='tooltip', title='create a copy of current form') Save as
    if (locals.status === 0)
      .btn-group
        button.btn.btn-primary#rename(data-toggle='tooltip', title='rename the form') Rename
      //- .btn-group
        button.btn.btn-primary#ready(data-toggle='tooltip', title='ready to publish form') Ready to publish
    if (locals.status === 0.5)
      .btn-group
        button.btn.btn-primary#publish(data-toggle='tooltip', title='publish the form') Publish
    if (locals.status === 1)
      .btn-group
        button.btn.btn-primary#obsolete(data-toggle='tooltip', title='Obsolete the form') Obsolete
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery.js')
  script(type='text/javascript', src='#{prefix}/jquery-ui/ui/minified/jquery-ui.custom.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/dist/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/rivets/rivets.min.js')
  script(type='text/javascript', src='#{prefix}/tinymce/tinymce.min.js')
  script(type='text/javascript', src='#{prefix}/tinymce/jquery.tinymce.min.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/dependencies/livestamp.js')
  script(type='text/javascript', src='#{prefix}/builder/input.js')
  script(type='text/javascript', src='#{prefix}/builder/spec.js')
  script(type='text/javascript', src='#{prefix}/javascripts/uid.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/form-builder.js')
