doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    block head
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-collapse.collapse
            ul.nav
              li
                a(href='#{prefix}/forms') Forms
              li
                a(href='#{prefix}/travelers') Travelers
              li
                a(href='#{prefix}/reports') Reports
              li
                a(href='https://controls.frib.msu.edu/controlshelp/', target='_blank') Problem?
              li
                a(href='https://controls.frib.msu.edu/', target='_blank') Controls
            ul.nav.pull-right
              if (locals.session && locals.session.userid)
                li
                  .user(href='#')
                    img(src='#{prefix}/adusers/#{session.userid}/photo', title='#{session.username}')
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') #{session.username}
                  ul.dropdown-menu
                    li
                      a Profile
                    li
                      a Log out

              else
                li
                  a(href='#{prefix}/login')
                    i.fa.fa-user.fa-lg
                    | &nbsp;Log in
    block content
    .container-fluid
      h6.text-right
        a(href='#{prefix}/release.txt', target='_blank') Release 2.3.8
    block js

