doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    block head
  body
    .navbar-nav.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header.navbar-right
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='#{prefix}/forms/') Forms
              li
                a(href='#{prefix}/travelers/') Travelers
              li
                a(href='#{prefix}/binders/') Binders
              li
                a(href='#{prefix}/docs/', target='_blank') Documents
              if (locals.session && locals.session.userid && locals.session.roles && locals.session.roles.indexOf('admin') !== -1)
                li
                  a(href='#{prefix}/admin/', target='_blank') Admin
            ul.nav.navbar-nav.navbar-right
              if (locals.session && locals.session.userid)
                li
                  .user
                    img(src='#{prefix}/adusers/#{session.userid}/photo', title='#{session.username}')
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') #{session.username}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#{prefix}/profile', target='_blank') Profile
                    li
                      a(href='#{prefix}/logout') Log out
              else
                li
                  i.fa.fa-user.fa-3x
                li
                  a(href='#{prefix}/login') Log in
    .container-fluid
      .alert.alert-info
        button.close(type='button', data-dismiss='alert')
          |&times;
        | The previous Traveler v2.4 is available at
        != ' '
        a(href='http://traveler:3011', target='_blank') http://traveler:3011
    block content
    .container-fluid
      h6.text-right
        a(href='#{prefix}/release.txt', target='_blank') Release 3.0.1
    block js

