extends layout

block head
  title FRIB Traveler Application
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
  .container(style="margin-top: 20px")
    .alert.hide
    .main
      h1#h1m Collaboration
      p.main-byline With forms, travelers, and binders.
        | &nbsp;
        a(href='#{prefix}/docs/', target='_blank') Need help?
      hr.soften
      .row
        .col-md-4
          h1
            a(href='#{prefix}/forms/', target='_blank')
              i.fa.fa-list-ol.fa-4x
          h2 Design forms
        .col-md-4
          h1
            a(href='#{prefix}/travelers/', target='_blank')
              i.fa.fa-check-square-o.fa-4x
          h2 Carry out
        .col-md-4
          h1
            a(href='#{prefix}/binders/', target='_blank')
              i.fa.fa-briefcase.fa-4x
          h2 Organize works
      hr.soften
      h2 Ownership
      .row
        .col-md-4
          h2.text-info
            i.fa.fa-user.fa-4x
          h3 Take Responsibility
          p.main-byline The owner is responsible to take part in and oversee the process from plan to delivery. The ownership is transferable.
        .col-md-4
          h2.text-info
            i.fa.fa-user-plus.fa-4x
          h3 Share for Collaboration
          p.main-byline The owner shares items with colleagues and groups of colleagues in the organization. Sharing brings connection, transparency, and attention.
        .col-md-4
          h2.text-info
            i.fa.fa-users.fa-4x
          h3 Powered by Co-workers
          p.main-byline Accomplished works are recorded and traceable. Co-workers are acknowledged.
      hr.soften
      h2 Performance
      .row
        .col-md-4
          h2.text-info
            i.fa.fa-sort-numeric-asc.fa-4x
          h3 Prioritize Works
          p.main-byline Works are organized by sequence and priorities.
        .col-md-4
          h2.text-info
            i.fa.fa-flag.fa-4x
          h3 Attention
          p.main-byline Works can be assigned to different levels of attentions. This helps identify the bottlenecks.
        .col-md-4
          h2.text-info
            i.fa.fa-diamond.fa-4x
          h3 Earn Values
          p.main-byline Every piece of work has a value. The earned and in-progress values are tracked.
      hr.soften

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/dist/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/main.js')


