extends layout

block head
  title FRIB Traveler Application
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script.
    var prefix = '!{prefix}';
  .container(style="margin-top: 20px")
    .alert.hide
    .main
      h1 Collaborate.
      p.main-byline With forms, travelers, and reports.
        | &nbsp;
        a(href='#{prefix}/about', target='_blank') Need help?
      .row-fluid
        .span4
          h1
            a(href='#{prefix}/forms/', target='_blank')
              i.fa.fa-list-ol.fa-4x
          h2 Design Forms.
        .span4
          h1
            a(href='#{prefix}/travelers/', target='_blank')
              i.fa.fa-check-square-o.fa-4x
          h2 Collect Data.
        .span4
          h1
            a(href='#{prefix}/reports/', target='_blank')
              i.fa.fa-briefcase.fa-4x
          h2 Manage and Report.
      hr.soften
block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/main.js')


