extends layout

block head
  title FRIB Traveler - public binders
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
  .container-fluid
    #message
    h3 Public accessible binders
    table#public-binders-table.table.table-bordered.table-hover
block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/dependencies/holder.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/public-binders.js')
