extends layout

block head
  meta(charset='urf-8')
  title #{orgName} traveler - #{type} - #{id} - share
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
    var access = !{access};

  .container(style="margin-top: 10px")
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    h3 Public access for #{type}
      = ' '
      span.text-info #{title}
    form.form-inline(name='public')
      select(name='public')
        option(value='-1') no access
        option(value='0') read
        option(value='1') write
      = ' '
      button.btn.btn-primary(type='submit', disabled)#update Update
    if (viewConfig.shareUsers)
      h3 Shared user list for #{type}
        = ' '
        span.text-info #{title}
      //- .well
      form.form-inline(name='user')
        input#username.input(type='text', placeholder='Last, First', name='name')
        != ' '
        label.checkbox
          input#access(type='checkbox', name='access', value='write')
          | Write
        != ' '
        button.btn.btn-primary#add(type='submit', disabled) Add to share
      .btn-toolbar
        .btn-group
          button.btn.btn-info#share-modify
            i.fa.fa-wrench.fa-lg
            | &nbsp;Modify
        .btn-group
          button.btn.btn-warning#share-remove
            i.fa.fa-trash-o.fa-lg
            | &nbsp;Remove
      table#share-table.table.table-bordered.table-hover
    if (viewConfig.shareGroups)
      h3 Shared group list for #{type}
        = ' '
        span.text-info #{title}
      //- .well
      form.form-inline(name='group')
        input#groupname.input.input-xlarge(type='text', placeholder='Group Id', name='group')
        != ' '
        label.checkbox
          input#groupaccess(type='checkbox', name='access', value='write')
          | Write
        != ' '
        button.btn.btn-primary#addgroup(type='submit', disabled) Add to share
      .btn-toolbar
        .btn-group
          button.btn.btn-info#groupshare-modify
            i.fa.fa-wrench.fa-lg
            | &nbsp;Modify
        .btn-group
          button.btn.btn-warning#groupshare-remove
            i.fa.fa-trash-o.fa-lg
            | &nbsp;Remove

      table#groupshare-table.table.table-bordered.table-hover

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/typeahead.bundle.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/util.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/global.js')
  script(type='text/javascript', src='#{prefix}/javascripts/usernames.js')
  script(type='text/javascript', src='#{prefix}/javascripts/groupnames.js')
  script(type='text/javascript', src='#{prefix}/javascripts/share.js')
