extends layout

block head
  meta(charset='urf-8')
  title FRIB traveler - #{type} - #{id} - share
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/datatables/media/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
    var access = !{access};
  .container(style="margin-top: 10px")
    #message
    #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3#modalLabel
          .modal-body
          .modal-footer
    h3 Public access for #{type}
      = ' '
      span.text-info #{title}
    form.form-inline(name='public')
      select(name='public')
        option(value='-1') no access
        option(value='0') read
        option(value='1') write
      = ' '
      button.btn.btn-primary(type='submit', disabled)#update Update
    h3 Shared user list for #{type}
      = ' '
      span.text-info #{title}
    //- .well
    form.form-inline(name='user')
      input#username.input(type='text', placeholder='Last, First', name='name')
      != ' '
      label.checkbox
        input#access(type='checkbox', name='access', value='write')
        | Write
      != ' '
      button.btn.btn-primary#add(type='submit', disabled) Add to share
    .btn-toolbar
      .btn-group
        button.btn.btn-info#share-modify
          i.fa.fa-wrench.fa-lg
          | &nbsp;Modify
      .btn-group
        button.btn.btn-warning#share-remove
          i.fa.fa-trash-o.fa-lg
          | &nbsp;Remove
    table#share-table.table.table-bordered.table-hover
    h3 Shared group list for #{type}
      = ' '
      span.text-info #{title}
    //- .well
    form.form-inline(name='group')
      input#groupid.input.input-xlarge(type='text', placeholder='LAB.FRIB.DIV.Department.Group', name='group')
      != ' '
      label.checkbox
        input#groupaccess(type='checkbox', name='access', value='write')
        | Write
      != ' '
      button.btn.btn-primary#addgroup(type='submit', disabled) Add to share
    .btn-toolbar
      .btn-group
        button.btn.btn-info#groupshare-modify
          i.fa.fa-wrench.fa-lg
          | &nbsp;Modify
      .btn-group
        button.btn.btn-warning#groupshare-remove
          i.fa.fa-trash-o.fa-lg
          | &nbsp;Remove

    table#groupshare-table.table.table-bordered.table-hover

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery.js')
  script(type='text/javascript', src='#{prefix}/datatables/media/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/dist/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/media/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/typeahead.bundle.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/util.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/global.js')
  script(type='text/javascript', src='#{prefix}/javascripts/usernames.js')
  script(type='text/javascript', src='#{prefix}/javascripts/groupids.js')
  script(type='text/javascript', src='#{prefix}/javascripts/share.js')
