extends layout

block head
  meta(charset='urf-8')
  title #{orgName} - traveler - #{traveler._id}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var traveler = !{JSON.stringify(traveler)}
    var travelerStatus = !{JSON.stringify(traveler.status)};
    var finishedInput = !{JSON.stringify(traveler.finishedInput)};
    var totalInput = !{JSON.stringify(traveler.totalInput)};
    var title = '!{traveler.title}'
    var prefix = '!{prefix}';
  .container
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    .row
      .span9
        h3 Traveler title:  #{traveler.title}
        if (locals.traveler.status !== undefined)
          h4 Status:
            case locals.traveler.status
              when 1
                = ' '
                span active
              when 1.5
                = ' '
                span submitted
              when 2
                = ' '
                span completed
              when 3
                = ' '
                span frozen
              when 0
                = ' '
                span initialized
            if (locals.traveler.status > 0)
              = '; '
              span
                em#finished-input #{traveler.finishedInput}
              = ' inputs finished out of '
              span
                em #{traveler.totalInput}
              = ' inputs'
        if (locals.traveler.devices && traveler.devices.length > 0)
          h4 Devices: !{traveler.devices}
        if (locals.traveler.referenceReleasedFormVer)
          h4 #{viewConfig.terminology.form} version: #{locals.traveler.referenceReleasedFormVer}
        if (locals.traveler.status !== undefined)
          if (locals.isOwner != undefined && (locals.isOwner || isAdmin))
            case locals.traveler.status
              when 0
                .btn-group
                  button.btn.btn-primary#work Start to work
              when 1
                .btn-group
                  button.btn.btn-warning#freeze Freeze
                .btn-group
                  button.btn.btn-primary#complete Submit for completion
              when 1.5
                if (isAdmin)
                  .btn-group
                    button.btn.btn-primary#approve Approve completion
                  .btn-group
                    button.btn.btn-warning#more More work
              when 3
                  .btn-group
                    button.btn.btn-primary#resume Resume
        if (locals.traveler.status !== undefined && locals.traveler.status > 0)
          //- .btn-group
          //-   button.btn.btn-info#update-progress Update progress
          .btn-group(data-toggle='buttons-radio')
            button.btn.btn-info#show-validation Show
            button.btn.btn-info#hide-validation.active Hide validation
          .btn-group(data-toggle='buttons-radio')
            button.btn.btn-info#show-notes Show
            button.btn.btn-info#hide-notes.active Hide notes
        .btn-group
          button.btn.btn-info(data-toggle='collapse', data-target='#details') Details
        .btn-group
          if (locals.isOwner != undefined && (locals.isOwner || isAdmin))
            a(href="config")
              button.btn.btn-primary Configuration
        #validation.well.hide
        #details.collapse.out
          if (locals.traveler.referenceReleasedForm)
            h4
              span Created from: 
              a(href='#{prefix}/released-forms/#{locals.traveler.referenceReleasedForm}/', target='#{viewConfig.linkTarget}') Released #{viewConfig.terminology.form}
          if (locals.traveler.description !== undefined)
            h4 Description: #{traveler.description}
          if (locals.traveler.deadline !== undefined)
            p Deadline:
              = ' '
              span.time #{traveler.deadline}
          p Created by #{traveler.createdBy}
            = ' '
            if (locals.traveler.clonedBy !== undefined)
              | cloned by #{traveler.clonedBy} on
            else
              | on
            = ' '
            span.time #{traveler.createdOn}
          if (locals.traveler.updatedBy !== undefined)
            p Updated by #{traveler.updatedBy} on
              = ' '
              span.time #{traveler.updatedOn}
        br
        if locals.traveler.activeDiscrepancyForm
          .control-group#discrepancy-legend
            legend Discrepancy log
          table#discrepancy-log-table.table.table-bordered.table-hover
          if (locals.traveler.status === 1 || traveler.forms.length === 1.5)
            .btn-group
              button.btn.btn-primary#add-discrepancy Add discrepancy log
        form.form-horizontal#form
          div.control-group#traveler-legend
            legend Traveler
          if (traveler.forms.length === 1)
            != traveler.forms[0].html
          else if (traveler.forms.id(traveler.activeForm))
            != traveler.forms.id(traveler.activeForm).html
          else
            != ''
        if (locals.traveler.status === 1)
          .btn-group
            button.btn.btn-primary#complete2 Submit for completion
      .span3.sidebar

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/modernizr.js')
  script(type='text/javascript', src='#{prefix}/dependencies/binder.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/dependencies/livestamp.js')
  script(type='text/javascript', src='#{prefix}/dependencies/lodash.js')
  script(type='text/javascript', src='#{prefix}/bootstrap-datepicker/js/bootstrap-datepicker.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/util.js')
  script(type='text/javascript', src='#{prefix}/javascripts/validation.js')
  script(type='text/javascript', src='#{prefix}/javascripts/traveler-discrepancy-form-loader.js')
  script(type='text/javascript', src='#{prefix}/javascripts/traveler.js')
