extends layout

block head
  title #{orgName} Travelers
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
  .container-fluid
    .btn-toolbar
      .btn-group
        button.btn.btn-primary#clone(data-toggle='tooltip', title='clone selected travelers')
          i.fa.fa-copy.fa-lg
          | &nbsp;Clone
      .btn-group
        button.btn.btn-primary#add-to-binder(data-toggle='tooltip', title='add selected travelers into a binder')
          i.fa.fa-briefcase.fa-lg
          | &nbsp;Add to binder
      .btn-group
        button.btn.btn-primary#report(data-toggle='tooltip', title='generate report for selected travelers')
          i.fa.fa-table.fa-large
          | &nbsp;Generate report
      .btn-group
        button.btn.btn-info#reload
          i.fa.fa-refresh.fa-lg
          | &nbsp;Reload all tables
      .btn-group
        a.btn.btn-info#all-travelers(href='#{prefix}/publictravelers/', target='#{viewConfig.linkTarget}', data-toggle='tooltip', title='see all public travelers')
          i.fa.fa-institution.fa-lg
          | &nbsp;All public travelers
      if (viewConfig.showCCDB)
        .btn-group.dropdown
          a#ref.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
            i.fa.fa-gears.fa-lg
            | &nbsp;References
            span.caret
          ul.dropdown-menu
            li#devices
              a(href='#{prefix}/devices/', target='#{viewConfig.linkTarget}') Devices in CCDB
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body.modal-body-visible
      .modal-footer
    form#report-form.hidden(action='/travelers/report/', method='post')
    div
      ul.nav.nav-tabs
        li.active
          a(href='#travelers', data-toggle='tab') My travelers
        if (viewConfig.transferOwnership)
          li
            a(href='#transferredtravelers', data-toggle='tab') Transferred travelers
        if (viewConfig.shareUsers)
          li
            a(href='#sharedtravelers', data-toggle='tab') Shared travelers
        if (viewConfig.shareGroups)
          li
            a(href='#groupsharedtravelers', data-toggle='tab') Group shared travelers
        li
          a(href='#archivedtravelers', data-toggle='tab') Archived travelers

      .tab-content
        #travelers.tab-pane.active
          .btn-toolbar
            .btn-group
              button.btn.btn-info.reload
                i.fa.fa-refresh.fa-lg
                | &nbsp;Reload table
            .btn-group
              button.btn.btn-info.select-all(data-toggle='tooltip', title='select all the rows in the current view')
                i.fa.fa-list.fa-lg
                | &nbsp;Select all
            .btn-group
              button.btn.btn-info.deselect-all(data-toggle='tooltip', title='deselect all the rows')
                i.fa.fa-list.fa-lg
                | &nbsp;Select none
            .btn-group
              button.btn.btn-warning.archive(data-toggle='tooltip', title='archive selected travelers, only the owner can see them after archived.')
                i.fa.fa-archive.fa-lg
                | &nbsp;Archive
            if (viewConfig.transferOwnership)
              .btn-group
                button.btn.btn-warning.transfer(data-toggle='tooltip', title='transfer the ownership of selected travelers to a coworker')
                  i.fa.fa-user.fa-lg
                  | &nbsp;Transfer ownership
          table#traveler-table.table.table-bordered.table-hover
        if (viewConfig.transferOwnership)
          #transferredtravelers.tab-pane
            .btn-toolbar
              .btn-group
                button.btn.btn-info.reload
                  i.fa.fa-refresh.fa-lg
                  | &nbsp;Reload table
              .btn-group
                button.btn.btn-warning.archive(data-toggle='tooltip', title='archive selected travelers, only the owner can see them after archived.')
                  i.fa.fa-archive.fa-lg
                  | &nbsp;Archive
              .btn-group
                button.btn.btn-warning.transfer(data-toggle='tooltip', title='transfer the ownership of selected travelers to a coworker')
                  i.fa.fa-user.fa-lg
                  | &nbsp;Transfer ownership
            table#transferred-traveler-table.table.table-bordered.table-hover
        if (viewConfig.shareUsers)
          #sharedtravelers.tab-pane
            .btn-toolbar
              .btn-group
                button.btn.btn-info.reload
                  i.fa.fa-refresh.fa-lg
                  | &nbsp;Reload table
            table#shared-traveler-table.table.table-bordered.table-hover
        if (viewConfig.shareGroups)
          #groupsharedtravelers.tab-pane
            .btn-toolbar
              .btn-group
                button.btn.btn-info.reload
                  i.fa.fa-refresh.fa-lg
                  | &nbsp;Reload table
            table#group-shared-traveler-table.table.table-bordered.table-hover
        #archivedtravelers.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-info.reload
                i.fa.fa-refresh.fa-lg
                | &nbsp;Reload table
          table#archived-traveler-table.table.table-bordered.table-hover


block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/dependencies/typeahead.bundle.js')
  script(type='text/javascript', src='#{prefix}/javascripts/global.js')
  script(type='text/javascript', src='#{prefix}/javascripts/usernames.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table-action.js')
  script(type='text/javascript', src='#{prefix}/javascripts/travelers.js')
