extends layout

block head
  meta(charset='urf-8')
  title #{orgName} - traveler - #{traveler._id}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var prefix = '!{prefix}';
    var title = '!{traveler.title}'
  .container
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    .row
      .span9
        h3 Traveler title:  #{traveler.title}
        if (locals.traveler.status !== undefined)
          h4 Status:
            case locals.traveler.status
              when 1
                = ' '
                span active
              when 1.5
                = ' '
                span submitted
              when 2
                = ' '
                span completed
              when 3
                = ' '
                span frozen
              when 0
                = ' '
                span initialized
              default
                = ' '
            if (locals.traveler.status > 0)
                  = '; '
                  span
                    em#finished-input #{traveler.finishedInput}
                  = ' inputs finished out of '
                  span
                    em #{traveler.totalInput}
                  = ' inputs'
        if (locals.traveler.devices && traveler.devices.length > 0)
          h4 Tags: !{traveler.devices}
        if (locals.traveler.status !== undefined && locals.traveler.status > 0)
          .btn-group(data-toggle='buttons-radio')
            button.btn.btn-info#show-validation Show validation
            button.btn.btn-info#hide-validation.active Hide validation
          .btn-group(data-toggle='buttons-radio')
            button.btn.btn-info#show-notes Show notes
            button.btn.btn-info#hide-notes.active Hide notes
        .btn-group
          button.btn.btn-info(data-toggle='collapse', data-target='#details') Details
        #validation.well.hide
        #details.collapse.out
          if (locals.traveler.description !== undefined)
            h4 Description: #{traveler.description}
          if (locals.traveler.deadline !== undefined)
            p Deadline:
              = ' '
              span.time #{traveler.deadline}
          p Created by #{traveler.createdBy}
            = ' '
            if (locals.traveler.clonedBy !== undefined)
              | cloned by #{traveler.clonedBy} on
            else
              | on
            = ' '
            span.time #{traveler.createdOn}
          if (locals.traveler.updatedBy !== undefined)
            p Updated by #{traveler.updatedBy} on
              = ' '
              span.time #{traveler.updatedOn}
        br
        form.form-horizontal#form
          if (traveler.forms.length === 1)
            != traveler.forms[0].html
          else if (traveler.forms.id(traveler.activeForm))
            != traveler.forms.id(traveler.activeForm).html
          else
            != ''
      .span3.sidebar

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/binder.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/validation.js')
  script(type='text/javascript', src='#{prefix}/javascripts/util.js')
  script(type='text/javascript', src='#{prefix}/javascripts/traveler-viewer.js')
