extends layout

block head
  title FRIB Travelers
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script.
    var prefix = '!{prefix}';
  .container-fluid
    .btn-toolbar
      .btn-group
        button.btn.btn-info#reload
          i.fa.fa-refresh.fa-lg
          | &nbsp;Reload all tables
      .btn-group
        button.btn.btn-primary#clone(data-toggle='tooltip', title='clone selected travelers')
          i.fa.fa-copy.fa-lg
          | &nbsp;Clone
      .btn-group
        a.btn.btn-info#alltravelers(href='#{prefix}/currenttravelers/', target='_blank', data-toggle='tooltip', title='see all the travelers')
          i.fa.fa-institution.fa-lg
          | &nbsp;All travelers
      .btn-group.dropdown
        a#meta.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
          i.fa.fa-gears.fa-lg
          | &nbsp;Meta
          span.caret
        ul.dropdown-menu
          li#devices
            a(href='#{prefix}/devices/', target='_blank') Devices
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body(style='overflow-y: visible;')
      .modal-footer
    .tabbable.tabs-left
      ul.nav.nav-tabs
        li.active
          a(href='#travelers', data-toggle='tab') My travelers
        li
          a(href='#transferredtravelers', data-toggle='tab') Transferred travelers
        li
          a(href='#sharedtravelers', data-toggle='tab') Shared travelers
        li
          a(href='#groupsharedtravelers', data-toggle='tab') Group shared travelers
        li
          a(href='#archivedtravelers', data-toggle='tab') Archived travelers

      .tab-content
        #travelers.tab-pane.active
          .btn-toolbar
            .btn-group
              button.btn.btn-warning.archive(data-toggle='tooltip', title='archive selected travelers, only the owner can see them after archived.')
                i.fa.fa-archive.fa-lg
                | &nbsp;Archive
            .btn-group
              button.btn.btn-warning.transfer(data-toggle='tooltip', title='transfer the ownership of selected travelers to a coworker')
                i.fa.fa-user.fa-lg
                | &nbsp;Transfer ownership
          table#traveler-table.table.table-bordered.table-hover
        #transferredtravelers.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-warning.archive(data-toggle='tooltip', title='archive selected travelers, only the owner can see them after archived.')
                i.fa.fa-archive.fa-lg
                | &nbsp;Archive
            .btn-group
              button.btn.btn-warning.transfer(data-toggle='tooltip', title='transfer the ownership of selected travelers to a coworker')
                i.fa.fa-user.fa-lg
                | &nbsp;Transfer ownership
          table#transferred-traveler-table.table.table-bordered.table-hover
        #sharedtravelers.tab-pane
          table#shared-traveler-table.table.table-bordered.table-hover
        #groupsharedtravelers.tab-pane
          table#group-shared-traveler-table.table.table-bordered.table-hover
        #archivedtravelers.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#dearchive(data-toggle='tooltip', title='de-archive selected travelers')
                i.fa.fa-inbox.fa-lg
                | &nbsp;De-archive
          table#archived-traveler-table.table.table-bordered.table-hover


block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajaxhelper.js')
  script(type='text/javascript', src='#{prefix}/dependencies/typeahead.bundle.js')
  script(type='text/javascript', src='#{prefix}/javascripts/global.js')
  script(type='text/javascript', src='#{prefix}/javascripts/usernames.js')
  script(type='text/javascript', src='#{prefix}/javascripts/travelers.js')
