extends layout

block head
  meta(charset='urf-8')
  title #{orgName} Traveler - user profile
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/jquery/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script(type='text/javascript').
    var roles = !{JSON.stringify(user.roles)};
  .container(style="margin-top: 10px")
    #message
    #profile.well
      dl
        dt Name
        dd #{user.name}
        dt Email
        dd #{user.email}
        dt Office
        dd #{user.office}
        dt Office phone
        dd #{user.phone}
        dt Mobile phone
        dd #{user.mobile}
        dt Last visited on
        dd #{user.lastVisitedOn}
        dt Roles
        dd#roles
          label.checkbox.inline
            input(type='checkbox', value='manager')
            | manager
          label.checkbox.inline
            input#reviwer(type='checkbox', value='reviewer')
            | reviewer
          label.checkbox.inline
            input(type='checkbox', value='admin')
            | admin
      if (myRoles.indexOf('admin') !== -1)
        button#modify.btn.btn-primary(type='submit') Modify
        = ' '
      button#cacel.btn(onclick="window.open('', '_self', '');window.close(); return false;") Close window

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajax-helper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/user.js')
