extends layout

block head
  meta(charset='urf-8')
  title FRIB Cable :: user profile
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/ui-lightness/jquery-ui-1.10.2.custom.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  script.
    var roles = !{JSON.stringify(user.roles)};
  .container(style="margin-top: 10px")
    //- a.btn.btn-primary(href="/users") users
    #message
    #profile.well
      img(src="/adusers/#{user.id}/photo")
      dl
        dt Name
        dd #{user.name}
        dt Email
        dd #{user.email}
        dt Office
        dd #{user.office}
        dt Office phone
        dd #{user.phone}
        dt Mobile phone
        dd #{user.mobile}
        dt Last visited on
        dd #{user.lastVisitedOn}
        dt Notice subscribed
        dd #{user.subscribe}
        dt Priviledges
        dd#roles
          //- //- form.form-inline
          //- label.checkbox.inline
          //-   input(type='checkbox', value='adjust')
          //-   | adjust
          //- //- = ' '
          //- label.checkbox.inline
          //-   input(type='checkbox', value='approve')
          //-   | approve
          //- //- = ' '
          //- label.checkbox.inline
          //-   input(type='checkbox', value='install')
          //-   | install
          //- = ' '
          label.checkbox.inline
            input(type='checkbox', value='manage')
            | manage
          //- = ' '
          label.checkbox.inline
            input(type='checkbox', value='admin')
            | admin
          //- = ' '
      if (myRoles.indexOf('admin') !== -1)
        button#modify.btn.btn-primary(type='submit') Modify
        = ' '
      button#cacel.btn(onclick="window.open('', '_self', '');window.close(); return false;") Close window

block js
  script(type='text/javascript', src='/javascripts/jquery-1.9.1.js')
  //- script(type='text/javascript', src='/javascripts/jquery-ui-1.10.2.custom.js')
  script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/javascripts/moment.js')
  script(type='text/javascript', src='/javascripts/user.js')