extends layout

block head
  title FRIB Working Package
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script.
    var prefix = '!{prefix}';
  .container-fluid
    .btn-toolbar
      .btn-group
        a.btn.btn-primary#new(href='#{prefix}/workingpackages/new', target='_blank', data-toggle='tooltip', title='create a new working package')
          i.fa.fa-paperclip.fa-lg
          | &nbsp;New Package
      .btn-group
        button.btn.btn-primary#clone(data-toggle='tooltip', title='clone selected package')
          i.fa.fa-copy.fa-lg
          | &nbsp;Clone
      .btn-group
        button.btn.btn-info#reload
          i.fa.fa-refresh.fa-lg
          | &nbsp;Reload all tables
      .btn-group
        a.btn.btn-info#alltravelers(href='#{prefix}/currenttravelers/', target='_blank', data-toggle='tooltip', title='see all the travelers')
          i.fa.fa-institution.fa-lg
          | &nbsp;All travelers
      .btn-group.dropdown
        a#meta.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
          i.fa.fa-gears.fa-lg
          | &nbsp;Meta
          span.caret
        ul.dropdown-menu
          li#devices
            a(href='#{prefix}/devices/', target='_blank') Devices
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    .tabbable.tabs-left
      ul.nav.nav-tabs
        li.active
          a(href='#mypackages', data-toggle='tab') My packages
        li
          a(href='#sharedpackages', data-toggle='tab') Shared packages
        li
          a(href='#groupsharedpackages', data-toggle='tab') Group shared packages
        li
          a(href='#archivedpackages', data-toggle='tab') Archived packages
      .tab-content
        #mypackages.tab-pane.active
          .btn-toolbar
            .btn-group
              button.btn.btn-warning#archive(data-toggle='tooltip', title='archive selected packages, only you can see them after archived.')
                i.fa.fa-archive.fa-lg
                | &nbsp;Archive
          table#package-table.table.table-bordered.table-hover
        #sharedpackages.tab-pane
          table#shared-package-table.table.table-bordered.table-hover
        #groupsharedpackages.tab-pane
          table#group-shared-package-table.table.table-bordered.table-hover
        #archivedpackages.tab-pane
          .btn-toolbar
            .btn-group
              button.btn.btn-primary#dearchive(data-toggle='tooltip', title='de-archive selected travelers')
                i.fa.fa-inbox.fa-lg
                | &nbsp;De-archive
          table#archived-package-table.table.table-bordered.table-hover


block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajaxhelper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/working_packages.js')


