extends layout

block head
  meta(charset='urf-8')
  title FRIB traveler - package - #{package._id}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script.
    var prefix = '!{prefix}';
  .container(style="margin-top: 10px")
    #message
    #modal.modal.hide.fade(tabindex='-1',role='dialog',data-backdrop='static',aria-labelledby='modalLabel',aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    h3 Title:
      span#title.editable #{package.title}
    h5 Description:
      span#description.editable #{package.description}
    h4 Tags
    ul#tags
      each tag in package.tags
        li
          | #{tag}
          button.btn.btn-small.btn-warning.removeTag
            i.fa.fa-trash-o.fa-lg
    .btn-toolbar
      .btn-group
        button.btn.btn-info#add
          i.fa.fa-wrench.fa-lg
          | &nbsp;Add work(traveler)
      .btn-group
        button.btn.btn-warning#remove
          i.fa.fa-refresh.fa-lg
          | &nbsp;Remove work
      .btn-group
        button.btn.btn-warning#sequence
          i.fa.fa-refresh.fa-lg
          | &nbsp;Adjust sequence
    table#package_table.table.table-bordered.table-hover

block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/javascripts/proxiedajax.js')
  script(type='text/javascript', src='#{prefix}/javascripts/global.js')
