extends layout

block head
  meta(charset='urf-8')
  title FRIB - package - #{package.title}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='#{prefix}/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')

block content
  script.
    var prefix = '!{prefix}';
  .container(style="margin-top: 10px")
    h3 #{package.title}
    h4 #{package.description}
    .btn-group
      button.btn.btn-info(data-toggle='collapse', data-target='#details') Details
    #details.collapse.out
      h4 Owner: #{package.owner || package.createdBy}
      h4 Status:
        = ' '
        case package.status
          when 0
            | new
          when 1
            | active
          when 2
            | completed
      h4 Tags
      ul#tags
        each tag in package.tags
          li
            span.tag #{tag}
      h4 Overall progress
      .progress(class=package.status === 1 ? "active progress-striped" : undefined)
        .bar.bar-success(style="width: #{package.finishedValue/package.totalValue*100}%;")
        .bar.bar-info(style="width: #{package.inProgressValue/package.totalValue*100}%;")
    table#work-table.table.table-bordered.table-hover


block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/TableTools.js')
  script(type='text/javascript', src='#{prefix}/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='#{prefix}/dependencies/moment.js')
  script(type='text/javascript', src='#{prefix}/dependencies/holder.js')
  script(type='text/javascript', src='#{prefix}/javascripts/table.js')
  script(type='text/javascript', src='#{prefix}/javascripts/ajaxhelper.js')
  script(type='text/javascript', src='#{prefix}/javascripts/working-package.js')
